body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    }
h1{
    font-size: 40px;
}
h2{
    font-size: 25px;
}
.name-color{
    color: rgb(243, 17, 137);
}
p{
    color: rgb(117, 112, 108);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    }
.half-width img{
    width: 100%;
}
.initial-side{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
    background-size: 40%;
}
.my-dream-area{
    background-image: url("images/biography-bg.png");
    background-position: left;
    background-repeat: no-repeat;
}
section{
    height: 450px;
}
.link-side{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(101, 243, 101) ,rgb(255, 230, 0));
    padding: 8px 25px;
    border-radius: 8px;
    font-weight: 700;
    color: white;
}
#text-position{
    text-align: center;
}
.work-arae img{
    width: 25%;
    float: left;
    padding: 18px;
    margin-left: 5px;
    }
.work-arae{
    margin-left: 10%;
}
.main-work{
    background-image: url("images/latest-work-bg.png");
    background-position: top right;
    background-size: 50%;
    background-repeat: no-repeat;
    }
.client{
    text-align: center;
}
.size{
    font-size: xx-small;
}
.final-area{
    text-align: center;
}
.contact{
    background-image: linear-gradient(45deg,rgb(101,243,101),rgb(255,230,0));
    color: honeydew;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.final-area{
    background-image: url("images/footer-bg.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 90%;
}
footer{
    height: 350px;
}
